@model IEnumerable<Travelista.Models.Images>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>

<p>
    <a asp-action="Create" class="btn text-light" style="background-color:#00357D" >Create New</a>
</p>
<table  class="table table-hover">
    <thead class="text-light" style="background-color:#00357D">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image1)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hotel.Name)
            </td>
            <td>
                          <img src="~/Image/@item.Image1" width="60" height="40"/>

            </td>
           
            <td class="d-flex justify-content-end">
                <partial name="_ButtonPartial" model="@item.ID"></partial>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
