@model Travelista.Models.Country

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <h1>Create</h1>

<h4>Country</h4>
@if (!string.IsNullOrEmpty( ViewBag.message))
         {
       <p class="title alert alert-danger">@ViewBag.message</p>
        }
         @if (!string.IsNullOrEmpty( ViewBag.image))
         {
       <p class="title alert alert-danger">@ViewBag.image</p>
        }
      
<hr />
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Population" class="control-label"></label>
                <input asp-for="Population" class="form-control" />
                <span asp-validation-for="Population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image_Url" class="control-label"></label>
                <input type="file" accept="image/*" asp-for="Image_Url" class="form-control" />
                <span asp-validation-for="Image_Url" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
