@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<link rel="stylesheet" href="~/css/Register.css" />

<partial name="_StatusMessage" for="StatusMessage" />

    <div class="form-container w-100">
        <h3 class="title">@ViewData["Title"]</h3>
        <form id="change-password-form" method="post" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                <label asp-for="Input.OldPassword"> </label>
                <input asp-for="Input.OldPassword"  autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="Input.NewPassword" ></label>
                <input asp-for="Input.NewPassword"  autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="input-group">
                 <label asp-for="Input.ConfirmPassword" ></label>
                <input asp-for="Input.ConfirmPassword"  autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary mt-2">Update password</button>
        </form>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
