@{
	ViewData["Title"] = "Details";
}


<main class="container">
	<div class="d-flex align-items-center">
		<div>
			<span><svg height="17px" width="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:#ED8A19;" d="M23.555 8.729a1.505 1.505 0 0 0-1.406-.98h-6.087a.5.5 0 0 1-.472-.334l-2.185-6.193a1.5 1.5 0 0 0-2.81 0l-.005.016-2.18 6.177a.5.5 0 0 1-.471.334H1.85A1.5 1.5 0 0 0 .887 10.4l5.184 4.3a.5.5 0 0 1 .155.543l-2.178 6.531a1.5 1.5 0 0 0 2.31 1.684l5.346-3.92a.5.5 0 0 1 .591 0l5.344 3.919a1.5 1.5 0 0 0 2.312-1.683l-2.178-6.535a.5.5 0 0 1 .155-.543l5.194-4.306a1.5 1.5 0 0 0 .433-1.661z"></path></svg></span>
			<span><svg height="17px" width="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:#ED8A19;" d="M23.555 8.729a1.505 1.505 0 0 0-1.406-.98h-6.087a.5.5 0 0 1-.472-.334l-2.185-6.193a1.5 1.5 0 0 0-2.81 0l-.005.016-2.18 6.177a.5.5 0 0 1-.471.334H1.85A1.5 1.5 0 0 0 .887 10.4l5.184 4.3a.5.5 0 0 1 .155.543l-2.178 6.531a1.5 1.5 0 0 0 2.31 1.684l5.346-3.92a.5.5 0 0 1 .591 0l5.344 3.919a1.5 1.5 0 0 0 2.312-1.683l-2.178-6.535a.5.5 0 0 1 .155-.543l5.194-4.306a1.5 1.5 0 0 0 .433-1.661z"></path></svg></span>
			<span><svg height="17px" width="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:#ED8A19;" d="M23.555 8.729a1.505 1.505 0 0 0-1.406-.98h-6.087a.5.5 0 0 1-.472-.334l-2.185-6.193a1.5 1.5 0 0 0-2.81 0l-.005.016-2.18 6.177a.5.5 0 0 1-.471.334H1.85A1.5 1.5 0 0 0 .887 10.4l5.184 4.3a.5.5 0 0 1 .155.543l-2.178 6.531a1.5 1.5 0 0 0 2.31 1.684l5.346-3.92a.5.5 0 0 1 .591 0l5.344 3.919a1.5 1.5 0 0 0 2.312-1.683l-2.178-6.535a.5.5 0 0 1 .155-.543l5.194-4.306a1.5 1.5 0 0 0 .433-1.661z"></path></svg></span>
			<span><svg height="17px" width="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:#ED8A19;" d="M23.555 8.729a1.505 1.505 0 0 0-1.406-.98h-6.087a.5.5 0 0 1-.472-.334l-2.185-6.193a1.5 1.5 0 0 0-2.81 0l-.005.016-2.18 6.177a.5.5 0 0 1-.471.334H1.85A1.5 1.5 0 0 0 .887 10.4l5.184 4.3a.5.5 0 0 1 .155.543l-2.178 6.531a1.5 1.5 0 0 0 2.31 1.684l5.346-3.92a.5.5 0 0 1 .591 0l5.344 3.919a1.5 1.5 0 0 0 2.312-1.683l-2.178-6.535a.5.5 0 0 1 .155-.543l5.194-4.306a1.5 1.5 0 0 0 .433-1.661z"></path></svg></span>
			<span><svg height="17px" width="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:#ED8A19;" d="M23.555 8.729a1.505 1.505 0 0 0-1.406-.98h-6.087a.5.5 0 0 1-.472-.334l-2.185-6.193a1.5 1.5 0 0 0-2.81 0l-.005.016-2.18 6.177a.5.5 0 0 1-.471.334H1.85A1.5 1.5 0 0 0 .887 10.4l5.184 4.3a.5.5 0 0 1 .155.543l-2.178 6.531a1.5 1.5 0 0 0 2.31 1.684l5.346-3.92a.5.5 0 0 1 .591 0l5.344 3.919a1.5 1.5 0 0 0 2.312-1.683l-2.178-6.535a.5.5 0 0 1 .155-.543l5.194-4.306a1.5 1.5 0 0 0 .433-1.661z"></path></svg></span>
		</div>
		<div class="bg-success bg-opacity-10 py-1 px-3 ms-3 rounded text-success">
			<span>
				<svg height="17px" width="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path style="fill:#198754;" d="M21.22 3.37a.75.75 0 0 0-.6-.59c-4.85-.9-10.6.55-13.37 3.36S3.1 14.39 3.88 19.05L2 21a.75.75 0 0 0 0 1 .74.74 0 0 0 .53.22A.71.71 0 0 0 3 22l2-1.9a16.94 16.94 0 0 0 2.76.23c4.09 0 8.19-1.33 10.35-3.52 2.71-2.81 4.07-8.59 3.11-13.44zM17 15.75c-2.11 2.14-6.59 3.36-10.7 3L16.59 8.47a.75.75 0 0 0 0 -1.06.77.77 0 0 0-1.07 0l-10.3 10.3c-.33-3.91.91-8.31 3.1-10.52s7.29-3.63 11.52-3c.67 4.22-.54 9.22-2.84 11.56z"></path>
				</svg>
			</span>
			<span>Travel Sustainable property</span>
		</div>
	</div>
	<div class="my-3">
		<h2>Exe Plaza Catalunya</h2>
		<a href="#" class="cursor-help">
			<span>
				<svg height="17px" width="17px" fill="#0f77d2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 395.71 395.71" xml:space="preserve" stroke="#0f77d2"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738 c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388 C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191 c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"></path> </g> </g></svg>
			</span>
		</a>
		<a href="#" class="text-decoration-none text-black cursor-help">Ronda de la Universitat, Nº18, Eixample, 08007 Barcelona, Spain -</a>
		<a href="#">Excellent location - show map</a>
		<a href="#" class="text-decoration-none text-black cursor-help">- Metro access</a>

	</div>
	<div>
		<div class="row justify-content-between">
			<div class=" col-4">
				<div>
					<img class="w-100 mb-3" src="https://cf.bstatic.com/xdata/images/hotel/max500/159347815.jpg?k=805a6a3fbe7800d312c91ccededb88ce55fdeff8683b39aaf4ecd3d812fc7394&o=&hp=1" alt="" srcset="">
				</div>
				<div>
					<img class="w-100 mb-3" src="https://cf.bstatic.com/xdata/images/hotel/max500/404964912.jpg?k=9124c54582401732c3d73b5f892173e5eabb1201381e40d58aae72b43ca72ef6&o=&hp=1" alt="" srcset="">
				</div>
			</div>
			<div class="col-8">
				<img class="w-100 mb-3" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/313078264.jpg?k=aa7bfb7213590968b07a60b495f56c39e6d3b935589d65db29a48407a531617f&o=&hp=1" alt="" srcset="">
			</div>
		</div>
		<div class="d-flex">
			<div class="me-3">
				<img class="w-100" src="https://cf.bstatic.com/xdata/images/hotel/max300/159347897.jpg?k=f72e8b6b73c5a931d0608ef39d547657fbbdf649bd89cc9d3868a926050b8759&o=&hp=1" alt="">
			</div>
			<div class="me-3">
				<img class="w-100 " src="https://cf.bstatic.com/xdata/images/hotel/max300/156685563.jpg?k=933506e30faeeef43dbb6eac6a90ab58a8684ad965a924d87865073da87a7da2&o=&hp=1" alt="">
			</div>
			<div class="me-3">
				<img class="w-100 " src="https://cf.bstatic.com/xdata/images/hotel/max300/159347909.jpg?k=3827e2efb6e4d0dcc6f4eb316e8a2b2416ec6b41f16475b0836068caf0096a44&o=&hp=1" alt="">
			</div>
			<div class="me-3">
				<img class="w-100 " src="https://cf.bstatic.com/xdata/images/hotel/max300/159347833.jpg?k=f8ee27e8f085e1f2da1eeef3e476b9c12f3dc7afa4297c518536514fecae0313&o=&hp=1" alt="">
			</div>
			<div class="">
				<img class="w-100" src="https://cf.bstatic.com/xdata/images/hotel/max300/159347845.jpg?k=52e745de11bc060b91cf924d278897682f37582d7fcd95065cb18805fcd8a4bc&o=&hp=1" alt="">
			</div>
		</div>
	</div>

	<div class="w-75 lh-lg mt-4">
		<p>
			You're eligible for a Genius discount at Exe Plaza Catalunya! To save at this property, all you have to do is sign in.

			In a prime location in the centre of Barcelona, Exe Plaza Catalunya provides air-conditioned rooms, a terrace and free WiFi. This 4-star hotel offers a concierge service and a tour desk. The property is non-smoking and is located 2.7 km from Sant Miquel Beach.

			At the hotel, every room is fitted with a desk. All units include a safety deposit box.

			A buffet breakfast is available daily at Exe Plaza Catalunya.

			Languages spoken at the reception include Catalan, English, Spanish and French, and guests are invited to request guidance on the area when needed.

			Popular points of interest near the accommodation include Plaça Catalunya, Boqueria Market and Tivoli Theatre. The nearest airport is Barcelona El Prat Airport, 12 km from Exe Plaza Catalunya.

			This is our guests' favourite part of Barcelona, according to independent reviews.
		</p>
	</div>

	<div>
		<table class="tabl w-100">
			<thead class="thead-dark bg-primary text-white ">
				<tr>
					<th>Room type</th>
					<th>Sleeps</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div>
							<a class="fw-bold" href="#">Single Room</a>
						</div>
					</td>
					<td>Otto</td>
					<td><a class="btn btn-primary px-5" href="#">Show prices</a></td>
				</tr>
				<tr>
					<td>Jacob</td>
					<td>Thornton</td>
					<td><a class="btn btn-primary px-5" href="#">Show prices</a></td>
				</tr>
				<tr>
					<td>Larry</td>
					<td>the Bird</td>
					<td><a class="btn btn-primary px-5" href="#">Show prices</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container pt-5">
		<div class="row">
			<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
				<div class="MultiCarousel-inner">
					<p>
						See what guests loved the most:
					</p>

					<div class="item border rounded-1">
						<div class="bg-white">
							<div class="d-flex p-3">
								<div>
									<img class="rounded-circle w-50" src="https://jaber.webrouk.com/assets/images/agents/agents-96-2.jpg" alt="">
								</div>
								<div>
									<h4>AAAAAAA</h4>
									<p>Egypt</p>
								</div>
							</div>
							<p>“A great facility. Great neighborhood. Breakfast brilliant.”</p>
							<a href="#popup1" class="text-primary">Read More</a>
						</div>
					</div>
				</div>
				<div id="popup1" class="overlay">
					<div class="popup">
						<a class="close" href="#">&times;</a>
						<div class="content p-4">
							<div class="row">
								<div class="col-4 d-flex p-3">
									<div>
										<img class="rounded-circle w-50" src="https://jaber.webrouk.com/assets/images/agents/agents-96-2.jpg" alt="">
									</div>
									<div>
										<h6>AAAAAAA</h6>
										<p>Egypt</p>
									</div>
								</div>
								<div class="col-8">
									<p class="m-0">Reviewed: <span class="fs-5">2023-06-06</span></p>
									<h5 class="fw-bold">Excellent. I'll be back</h5>
									<p><i class="fas fa-face-grin-wide"></i>Excellent location close to M2 and M4 metro station and Keleti railway station. Two and a half blocks from the municipal park.</p>
									<p><i class="fas fa-face-grin-wide"></i>Excellent location close to M2 and M4 metro station and Keleti railway station. Two and a half blocks from the municipal park.</p>
									<a href="#">Translated</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-primary leftLst"> < </button>
				<button class="btn btn-primary rightLst">></button>
			</div>
		</div>
	</div>
</main>