/***********************************************************/

.photo-search {
    background: #0104bc75 url(https://cf.bstatic.com/static/img/bh/awareness/bh_lp_cover_house_apr_2023/fca6e99cf1a7fd4cfebeb91bcccbcb61549e66db.jpg) no-repeat center/cover;
    background-blend-mode: multiply;
    height: 25rem;
}

.text-OnGenralPhoto {
    padding-top: 17%;
}

.inputs-GenralSearch {
    margin-top: -15px;
}

    .inputs-GenralSearch input {
        border: 2px solid #ffd800;
        border-radius: unset
    }

    .inputs-GenralSearch button {
        background-color: #003580;
        border-radius: unset;
        border: 2px solid #ffd800;
        color: white;
    }

/***************** Weather ***********************/
.card {
    margin: 90px auto;
    width: 550px;
    height: 235px;
    position: relative;
    padding: 25px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
    }

.containerweather {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -35px;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
}

.cloud {
    width: 250px;
}

.front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
}

.back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
}

.right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
}

.left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
}

.left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.sun {
    width: 120px;
    height: 120px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 60px;
    display: inline;
    position: absolute;
}

.sunshine {
    animation: sunshines 2s infinite;
}

@keyframes sunshines {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes clouds {
    0% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(15px);
    }
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .card-header span:first-child {
        word-break: break-all;
        font-weight: 800;
        font-size: 15px;
        line-height: 135%;
        color: rgba(87, 77, 51, 0.66);
    }

    .card-header span:last-child {
        font-weight: 700;
        font-size: 15px;
        line-height: 135%;
        color: rgba(87, 77, 51, 0.33);
    }

.temp {
    position: absolute;
    left: 25px;
    bottom: 12px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: rgba(87, 77, 51, 1);
}

.temp-scale {
    width: 80px;
    height: 36px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 9px;
}

    .temp-scale span {
        font-weight: 700;
        font-size: 13px;
        line-height: 134.49%;
        color: rgba(87, 77, 51, 0.66);
    }

/******** Card data-hotal *******/
.data-hotal {
    line-height: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.umpral {
    display: inline-block;
    width: 17px;
    height: 17px;
}

/**************************************** Display Card Hotel **********************************************/
.circles-div {
    height: 300px;
    overflow: hidden;
}

.circle-ylow {
    background-color: #FEBB02;
    border-radius: 50%;
    bottom: 40px;
    height: 64px;
    left: -10px;
    position: absolute;
    width: 64px;
}

.circle-blue {
    background-color: #0071C2;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -100px 8%;
    /* width: 600px; */
    height: 500px;
    padding-left: 10%;
    /* position: relative; */
}





/* New */

.rat {
    background: #003580;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*table in Details*/
.Background-nav-table {
    background-color: #4B76AE;
    color: white;
    
}

/*Comment*/
*:focus {
    outline: 0;
}

.form1 * {
    font-size: 20px;
    letter-spacing: 0.075em;
    font-weight: 300;
    /*text-transform: uppercase;*/
    cursor: pointer;
    text-decoration: none;
}

.form1 .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

    .form1 .field label {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #00193b, #3187ff);
        width: 100%;
        height: 69px;
        transition: width 333ms ease-in-out;
        text-align: center;
        padding: 15px 0;
        color: #fff;
        font-weight: bold;
    }

    .form1 .field textarea {
        border: none;
        width: 100%;
        height: 64px;
        margin: 0;
        padding-left: 19.5%;
        color: #313a3d;
    }

.form1 #msg {
    height: 64px;
    resize: none;
    transition: all 333ms ease-in-out;
    padding-top: 18px;
}

.form1 textarea:focus#msg,
.form1 textarea:not(:placeholder-shown)#msg {
    height: 166px;
}

.form1 textarea:focus + label,
.form1 textarea:not(:placeholder-shown) + label,
.form1 .field:hover label {
    width: 19%;
}

.comment {
    background: linear-gradient(90deg, #00193b, #3187ff);
    -webkit-appearance: none;
    border: none;
    position: relative;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-weight: bold;
}

    .comment:hover,
    .comment:focus {
        background: #00193b;
    }
