@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<link rel="stylesheet" href="~/css/Register.css"/>
    <div class="form-container mt-3">
        <p class="title">@ViewData["Title"]</p>
        <p class="title">Enter your email.</p>
        <hr />
        <form method="post" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                  <label asp-for="Input.Email" ></label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
              
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="sign mt-3">Reset Password</button>
        </form>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
